

html{
    margin: 0;
    padding: 0;
}

body {
    font: 75% cambria, sans-serif;
    line-height: 1.88889;
    color: #000033;
    background: linear-gradient(to left, #33cccc 5%, #003399 100%);
    background-color: #C0D5EC;
    margin: 35px;
    padding: 35px;
}

hr {
    margin: 20px 0px 20px 0p;
    padding: 0px;
    border: 0;
    border-bottom: 4px solid #000033;
}

hr {
    margin: 20px 0px 20px 0p;
    padding: 0px;
    border: 0;
    border-bottom: 4px solid #000033;
}

h3 {
    font: italic normal 1.4em georgia, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #5756C2;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #00b38f;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #5756C2;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #5756C2;
}

abbr {
    border-bottom: none;
}



