

html{
    margin: 0;
    padding: 0;
}

.fancy {
    text-shadow: -1px -1px 0 #00b38f, 1px -1px 0 #00b38f, -1px 1px 0 #00b38f, 1px 1px 0 #00b38f;
}

#name {
    color: turquoise;
}

p ~ ul {
    background: #C0D5EC;
}

body {
    font: 75% Verdana, sans-serif;
    color: navy;
    line-height: 1.88889;
    background: linear-gradient(to top, #ffffff 5%, #808080 100%);
    background-color: #C0D5EC;
    margin: 35px;
    padding: 35px;
}

hr {
    margin: 20px 0px 20px 0p;
    padding: 0px;
    border: 0;
    border-bottom: 4px solid navy;
}

hr {
    margin: 20px 0px 20px 0p;
    padding: 0px;
    border: 0;
    border-bottom: 4px solid navy;
}


a:link {
    font-weight: bold;
    text-decoration: none;
    color: navy;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #5756C2;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #5756C2;
}

abbr {
    border-bottom: none;
}





